/* major fixes start here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* major fixes ends here  */

body{
    /* height: 4000px; */
    font-family: 'Inter', sans-serif;
    /* width: 100%; */
}
html{
    scroll-behavior: smooth;
}
.btn{
    padding: 8px 20px;
    cursor: pointer;
}
.btn-orange{
    background: var(--main-color);
    color: var(--white-color);
    /* border: 3px solid var(--main-color); */
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
    transition: all 0.5s ease-in;
}
.btn-orange:hover{
    background: var(--linear-gradient);
    transition: all 0.5s ease;
}
.btn-light{
    background: var(--white-color);
    color: var(--main-color);
    /* border: 3px solid var(--white-color); */
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 25px;
    transition: all 0.5s ease-in;
}
.btn-light:hover{
    background: var(--gray-color);
    color: var(--white-color);
}
.btn-white{
    background: var(--white-color);
    color: var(--main-color);
    /* border: 3px solid var(--white-color); */
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-right: 15px ;
    transition: all 0.5s ease-in;
}
.btn-white:hover{
    background: var(--gray-color);
    /* color: var(--white-color); */
}
/* header section starts here  */
header{
    /* border: 3px solid tomato; */
    /* position: fixed; */
    width: 100%;
    /* height: 1000px; */
    background: var(--linear-gradient), url("./Image/header.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
}
.nav-desktop{
 /* border: 3px solid black; */
 display: flex;
 color: var(--white-color);
 padding: 15px 40px;
 /* margin-left: 20px; */
 justify-content: space-between;
 width: 50%;
 font-size: large;
}
.nav-mobile{
    display: none;
    color: var(--white-color);
    background: var(--main-color);
    height: 60px;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.nav-brand{
    background: var(--linear-gradient), url("./Image/header.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    display: none;
}
.hamburger-container{
    /* border: 3px solid blue; */
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    z-index: 100;
}
.menu{
    width: 100%;
    background: var(--white-color);
    height: 3px;
    position: relative;
}
.menu::before{
    content: "";
    width: 100%;
    background: var(--white-color);
    height: 3px;
    position: absolute;
    transform: translateY(-10px);
}
.menu::after{
    content: "";
    width: 100%;
    background: var(--white-color);
    height: 3px;
    position: absolute;
    transform: translateY(10px);
}
.showburger .menu{
    background: transparent;
}
.showburger .menu::before{
    transform: rotate(45deg);
    background: var(--white-color);
}
.showburger .menu::after{
    transform: rotate(-45deg);
    background: var(--white-color);
}
.mobilelinks-container{
    /* display: none; */
    transform: translateX(102%);
    transition: all 0.4s ease;
    width: 100%;
    height: 10%;
    background: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    margin-top: 55px;
}
.showmobilelinks{
    /* display: block; */
    transform: translateX(0);
}
.mobilelinks-content ul{
    list-style: none;
}
.mobilelinks-content a{
    display: block;
    text-decoration: none;
    color: var(--white-color);
    padding: 21px 20px;
    background: var(--main-color);
}
.mobilelinks-content a:hover{
    background: var(--white-color);
    color: var(--main-color);
}
.mobilelinks-container .active-link{
    background: var(--white-color);
    color: var(--main-color);
}
.desktoplinkcontainer{
    /* border: 3px solid red; */
    width: 50%;
    padding-right: 100px;
    justify-items: left;
}
.desktoplinkcontainer ul{
    list-style: none;
    display: flex;
    justify-content: right;
    /* padding-bottom: 20px; */
    /* padding-top: 15px; */
}
.desktoplinkcontainer li{
    margin-left: 50px;
    /* justify-content: space-evenly; */
    color: var(--white-color);
    font-size: 20px;
    font-weight: bolder;
}
.desktoplinkcontainer li:hover{
    border: 2px solid var(--main-color);
}
.desktoplinkcontainer ul a{
    padding: 15px 20px;
    display: block;
    color: var(--white-color);
    text-decoration: none;
}
.headerbanner{
   padding-top: 50px;
   color: var(--white-color);
   text-align: left;
   /* border: 3px solid black; */
   padding-left: 120px;
}
.headerbanner p{
    padding-top: 20px;
    line-height: 1.6;
    font-weight: bold;
    /* justify-content: center; */
}

/* header section ends here  */

/* second section starts here  */
.second{
    /* border: 3px solid tomato; */
    /* padding-bottom: 30px; */
    padding-top: 20px;
    width: 90%;
    /* height: 50px; */
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.second:hover{
    background: var(--white-color);
    color: var(--main-color);
}
.first{
    background: var(--main-color);
    /* height: 170px; */
    width: 300px;
    border-radius: 5%;
    margin-bottom: 15px;
}
.first h2{
    color: var(--white-color);
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.first p{
    color: var(--white-color);
    padding-left: 25px;
    padding-bottom: 30px;
}
.first:hover{
    background: var(--gray-color);
}
.first p:hover{
    color: var(--main-color);
}
.third{
    /* border: 3px solid tomato; */
    padding-bottom: 30px;
    padding-top: 25px;
    width: 90%;
    /* height: 50px; */
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* second section ends here  */
/* cta section starts here  */
.fourth{
    /* border: 3px solid black; */
    background-color: var(--main-color);
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
}
.fourth h2{
    color: var(--white-color);
    padding-top: 50px;
    padding-left: 25px;
}
/* cta section ends here  */
/* footer section starts here  */
footer{
    /* border: 3px solid tomato; */
    background: var(--black-color);
    /* height: 60px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    color: var(--white-color);
}

.footer-icon-container{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.footer-icons{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.footer-icons:hover{
    color: var(--main-color);
}

.footer-icon-container a{
    color: var(--white-color);
    text-decoration: none;
}
