@media only screen and (max-width: 851px) {
  .nav-desktop{
    display: none;
  }
  .desktoplinkcontainer {
    display: none;
  }
  .nav-mobile{
    display: flex;
  }
  .nav-brand{
    display: flex;
  }
  header {
    display: none;
  }
  .fourth h2{
    padding-top: 40px;
  }
  .btn-white{
    margin-top: 35px;
  }
  footer{
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
  .headerbanner p{
    line-height: 0.9;
    font-weight: normal;
    text-align: left;
  }
  .footer-icon-container{
    margin: 0 auto;
    font-size: 25px;
}


}